
.section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section h2.Section-head{
    color: black;
    text-align: center;
    margin-bottom: 40px;
}
.section h2.Section-head::after
{
    background:#e74c3c ;
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}
#Header
{
    background-color:#e74c3c ;
    color: white
}
#logo
{
    font-size: 2rem;
    margin-top: 5px;
}

#menu 
{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

#menu li
{
    display: inline-block;
}
#menu li a
{
    color: white;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
    
}
#menu li a:hover
{
    background-color: #c0392b;
}
#banner
{
    background: url('./Images/Banner.jpg') no-repeat 0 0;
    background-size: cover;  
}
.banner-title h1
{
    background: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.banner-title p.lead
{
    color: white;
    background: rgba(231,76,60,0.7);
    padding: 10px;
    margin: 0%;
}

.service-box
{
    text-align: center;
}
.service-box i.fa
{
    color: #c0392b;
    font-size: 70px;
    margin-bottom: 15px;
}
#testimonials
{
    color: black;
    background: url(./Images/Photo3.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 50px 0;
    position: relative;
}

#testimonials::before
{
    background: rgba(52,73,94,0.7);
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#testimonials p
{
    color: white;
    
}
#testimonials img
{
    border-radius: 50%;
    height: 70px;
}
.news-post img
{
    width: 100%;
    margin-bottom: 10px;
}
.news-post h3
{
    font-size: 1.35rem;
}
.news-post h3 a
{
    color: #e74c3c;
}
.post-date
{
    font-size: 13px;
    margin-bottom: 2px;
}
.post-date::before
{
    content: "\f073";
    font-family: FontAwesome ;
    padding-right: 5px;
}
.readmore
{
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}
a.readmore
{
    font-size: 14px;
    color: #c0392b;
}
a.readmore::after
{
    content: "\f101";
    font-family: FontAwesome ;
    padding-right: 5px;
}
#footer-sidebar
{
    color: white;
    background-color: #34495e;
    padding: 20px 0 ;
}
.fotter-widget h4:after
{
    content: '';
    background: #fff;
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0;
}
.fotter-widget a{
    color: white;
    text-decoration: none;
}

.latest-news
{
    list-style: none;
}
.latest-news li
{
    margin-bottom: 3px;

}
.latest-news li::before
{
    content: "\f101";
    font-family: FontAwesome;
    padding-right: 5px;
}
#footer
{
    background: #1c2731;
    color: white;
}